<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.Cyy_buildingMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="getBuildingPage" resultType="com.lanyuan.entity.Cyy_buildingFormMap">
		select * from chuangyeyuan.cyy_building 

		where 1 = 1 
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<select id="getById" resultType="com.lanyuan.entity.Cyy_buildingFormMap">
		select * from chuangyeyuan.cyy_building where id = #{id} 
	</select>
	
	<select id="getByBuildingName" resultType="com.lanyuan.entity.Cyy_buildingFormMap">
		select * from chuangyeyuan.cyy_building where buildingName = "${buildingName}" 
	</select>
	
	<insert id="addOrUpdateByBuildingName" parameterType="com.lanyuan.entity.Cyy_buildingFormMap">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
	    	select count(*) from chuangyeyuan.cyy_building where buildingName = "${buildingName}" 
	  	</selectKey>
	  	
	  	<if test="count > 0">
	  		update chuangyeyuan.cyy_building set 
	  	</if>
	  	
	  	<if test="count==0">
	  		insert into chuangyeyuan.cyy_building(`buildingName`, `desc`, `createTime`, `updateTime`) 
	  		values("${buildingName}", "${desc}", now(), now())  
	  	</if>
	</insert>
	
	<delete id="deleteById">
		delete from chuangyeyuan.cyy_building where id = #{id} 
	</delete>

	
</mapper>