<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.Cyy_roomMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="getById" resultType="com.lanyuan.entity.Cyy_roomFormMap">
		select * from cyy_room where id = #{id} 
	</select>
	
	<select id="getRoomPage" resultType="com.lanyuan.entity.Cyy_roomFormMap">
		select * from cyy_room   
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<insert id="addOrUpdateByRoomName"  parameterType="com.lanyuan.entity.Cyy_roomFormMap">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
	    	select count(*) from cyy_room where roomName = #{roomName} 
	  	</selectKey>
	  	<if test="count > 0">
	  		update cyy_room set id = #{id} 
	  		<if test="buildingId!=null and buildingId!=''">
	  			,buildingId = #{buildingId}
	  		</if>
	  		<if test="roomName!=null and roomName!=''">
	  			,roomName = #{roomName}
	  		</if>
	  		<if test="roomPrice!=null and roomPrice!=''">
	  			,roomPrice = #{roomPrice}
	  		</if>
	  		<if test="waterRecord!=null and waterRecord!=''">
	  			,waterRecord = #{waterRecord}
	  		</if>
	  		<if test="electRecord!=null and electRecord!=''">
	  			,electRecord = #{electRecord}
	  		</if>
	  		<if test="lastBudgetId!=null and lastBudgetId!=''">
	  			,lastBudgetId = #{lastBudgetId}
	  		</if>
	  		<if test="desc!=null and desc!=''">
	  			,desc = #{desc}
	  		</if>
	  		<if test="createTime!=null and createTime!=''">
	  			,createTime = #{createTime}
	  		</if>
	  		,updateTime = now() 
	  	</if>
	  
		<if test="count==0">
			insert into cyy_room(buildingId, roomName, roomPrice, waterRecord, electRecord, lastBudgetId, desc,
			createTime, updateTime) values(
			#{buildingId}, #{roomName}, #{roomPrice}, #{waterRecord}, #{electRecord}, #{lastBudgetId}, #{desc},
			#{createTime}, now())
		</if>
	</insert>
	
	<delete id="deleteByRoomroomName">
		delete from cyy_room where roomName = #{roomName} 
	</delete>

</mapper>