<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.Cyy_budgetMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="getById" resultType="com.lanyuan.entity.Cyy_budgetFormMap">
		select * from cyy_budget where id = #{id} 
	</select>

	<select id="getByGuestId" resultType="com.lanyuan.entity.Cyy_budgetFormMap">
		select * from cyy_budget where guestId = "${guestId}" 
	</select>
	
	<select id="getBudgetList" resultType="com.lanyuan.entity.Cyy_budgetFormMap">
		select * from cyy_budget 
	</select>
	
	<select id="getByUserId" resultType="com.lanyuan.entity.Cyy_budgetFormMap">
		select * from cyy_budget where userId = "${userId}" 
	</select>

	<insert id="addOrUpdateById"  parameterType="com.lanyuan.entity.Cyy_budgetFormMap">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
	    	select count(*) from cyy_budget where id = #{id} 
	  	</selectKey>
	  	<if test="count > 0">
	  		update cyy_budget set id = #{id} 
	  		<if test="guestId!=null and guestId!=''">
	  			,guestId = ${guestId} 
	  		</if>
	  		<if test="roomId!=null and roomId!=''">
	  			,roomId = ${roomId}
	  		</if>
	  		<if test="waterMoney!=null and waterMoney!=''">
	  			,waterMoney = ${waterMoney}
	  		</if>  
	  		<if test="electMoney!=null and electMoney!=''">
	  			,electMoney = ${electMoney} 
	  		</if>  
	  		<if test="otherMoney!=null and otherMoney!=''">
	  			,otherMoney = ${otherMoney} 
	  		</if>  
	  		<if test="rentMoney!=null and rentMoney!=''">
	  			,rentMoney = ${rentMoney} 
	  		</if> 
	  		<if test="totalMoney!=null and totalMoney!=''">
	  			,totalMoney = ${totalMoney} 
	  		</if>
	  		<if test="rentStartDate!=null and rentStartDate!=''">
	  			,rentStartDate = "${rentStartDate}" 
	  		</if>
	  		<if test="rentEntEndDate!=null and rentEntEndDate!=''">
	  			,rentEntEndDate = "${rentEntEndDate}" 
	  		</if>
	  		<if test="userId!=null and userId!=''">
	  			,userId = ${userId} 
	  		</if>
	  		<if test="detail!=null and detail!=''">
	  			,detail = "${detail}" 
	  		</if>
	  		<if test="createTime!=null and createTime!=''">
	  			,createTime = "${createTime}" 
	  		</if>
	  		,updateTime = now() where IDNo = ${IDNo}  
	  	</if>
	  
		<if test="count==0">
			insert into cyy_budget(
		  		<if test="guestId!=null and guestId!=''">
		  			guestId, 
		  		</if>
		  		<if test="roomId!=null and roomId!=''">
		  			roomId,
		  		</if>
		  		<if test="waterMoney!=null and waterMoney!=''">
		  			waterMoney, 
		  		</if>  
		  		<if test="electMoney!=null and electMoney!=''">
		  			electMoney, 
		  		</if>  
		  		<if test="otherMoney!=null and otherMoney!=''">
		  			otherMoney, 
		  		</if>  
		  		<if test="rentMoney!=null and rentMoney!=''">
		  			rentMoney, 
		  		</if> 
		  		<if test="totalMoney!=null and totalMoney!=''">
		  			totalMoney, 
		  		</if>
		  		<if test="rentStartDate!=null and rentStartDate!=''">
		  			rentStartDate, 
		  		</if>
		  		<if test="rentEntEndDate!=null and rentEntEndDate!=''">
		  			rentEntEndDate, 
		  		</if>
		  		<if test="userId!=null and userId!=''">
		  			userId, 
		  		</if>
		  		<if test="detail!=null and detail!=''">
		  			detail, 
		  		</if>
		  		createTime 
		  		,updateTime
			) values (
		  		<if test="guestId!=null and guestId!=''">
		  			 ${guestId}, 
		  		</if> 
		  		<if test="roomId!=null and roomId!=''">
		  			${roomId},
		  		</if>
		  		<if test="waterMoney!=null and waterMoney!=''">
		  			${waterMoney}, 
		  		</if>  
		  		<if test="electMoney!=null and electMoney!=''">
		  			${electMoney}, 
		  		</if>  
		  		<if test="otherMoney!=null and otherMoney!=''">
		  			${otherMoney}, 
		  		</if>  
		  		<if test="rentMoney!=null and rentMoney!=''">
		  			${rentMoney}, 
		  		</if> 
		  		<if test="totalMoney!=null and totalMoney!=''">
		  			${totalMoney}, 
		  		</if>
		  		<if test="rentStartDate!=null and rentStartDate!=''">
		  			"${rentStartDate}", 
		  		</if>
		  		<if test="rentEntEndDate!=null and rentEntEndDate!=''">
		  			"${rentEntEndDate}", 
		  		</if>
		  		<if test="userId!=null and userId!=''">
		  			${userId}, 
		  		</if>
		  		<if test="detail!=null and detail!=''">
		  			"${detail}", 
		  		</if>
		  		<if test="createTime!=null and createTime!=''">
		  			"${createTime}", 
		  		</if>
		  		now()
		  		,now()
			) 
		</if>
	</insert>
	
	<delete id="deleteByGuestId">
		delete from cyy_budget where id = #{id} 
	</delete>

</mapper>