<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.Cyy_roomMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="getById" resultType="com.lanyuan.entity.Cyy_roomFormMap">
		select * from cyy_room where id = #{id} 
	</select>
	
	<select id="getRoom" resultType="com.lanyuan.entity.Cyy_roomFormMap">
		select * from cyy_room where buildingId=#{buildingId} and roomName="${roomName}"  
	</select>
	
	<select id="getRoomPage" resultType="com.lanyuan.entity.Cyy_roomFormMap">
		select * from cyy_room 
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<insert id="addOrUpdateByRoomName"  parameterType="com.lanyuan.entity.Cyy_roomFormMap">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
	    	select count(*) from cyy_room where roomName = "${roomName}" and buildingId = "${buildingId}"  
	  	</selectKey>
	  	<if test="count > 0">
	  		update cyy_room set id = #{id} 
	  		<if test="buildingId!=null and buildingId!=''">
	  			,buildingId = #{buildingId}
	  		</if>
	  		<if test="roomName!=null and roomName!=''">
	  			,roomName = #{roomName}
	  		</if>
	  		<if test="currentGuestId!=null and currentGuestId!=''">
	  			,currentGuestId = #{currentGuestId}
	  		</if>
	  		<if test="roomPrice!=null and roomPrice!=''">
	  			,roomPrice = #{roomPrice}
	  		</if>
	  		<if test="lastRent!=null and lastRent!=''">
	  			,lastRent = #{lastRent}
	  		</if>
	  		<if test="lastRentTime!=null and lastRentTime!=''">
	  			,lastRentTime = #{lastRentTime}
	  		</if>
	  		<if test="nextRentTime!=null and nextRentTime!=''">
	  			,nextRentTime = #{nextRentTime}
	  		</if>
	  		<if test="detail!=null and detail!=''">
	  			,detail = #{detail}
	  		</if>
	  		<if test="createTime!=null and createTime!=''">
	  			,createTime = #{createTime}
	  		</if>
	  		,updateTime = now() where roomName = "${roomName}" and buildingId = "${buildingId}" 
	  	</if>
	  
		<if test="count==0">
			insert into cyy_room(
			<if test="buildingId!=null and buildingId!=''">
				buildingId, 
			</if>
			<if test="roomName!=null and roomName!=''">
				roomName, 
			</if>
			<if test="currentGuestId!=null and currentGuestId!=''">
				currentGuestId, 
			</if>
			<if test="roomPrice!=null and roomPrice!=''">
				roomPrice, 
			</if>
			<if test="lastRent!=null and lastRent!=''">
				lastRent, 
			</if>
			<if test="lastRentTime!=null and lastRentTime!=''">
				lastRentTime, 
			</if>
			<if test="nextRentTime!=null and nextRentTime!=''">
				nextRentTime, 
			</if>
			<if test="detail!=null and detail!=''">
				detail, 
			</if>
			createTime, updateTime
			) values(
			<if test="buildingId!=null and buildingId!=''">
				"${buildingId}", 
			</if>
			<if test="roomName!=null and roomName!=''">
				"${roomName}",
			</if> 
			<if test="currentGuestId!=null and currentGuestId!=''">
				"${currentGuestId}", 
			</if>
			<if test="roomPrice!=null and roomPrice!=''">
				"${roomPrice}", 
			</if>
			<if test="lastRent!=null and lastRent!=''">
				"${lastRent}", 
			</if>
			<if test="lastRentTime!=null and lastRentTime!=''">
				"${lastRentTime}", 
			</if>
			<if test="nextRentTime!=null and nextRentTime!=''">
				"${nextRentTime}",
			</if> 
			<if test="detail!=null and detail!=''">
				"${detail}", 
			</if>
			now(), now()
			)
		</if>
	</insert>
	
	<delete id="deleteByRoomroomId">
		delete from cyy_room where id = #{id} 
	</delete>

</mapper>