<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.RoomMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<select id="getById" resultType="com.lanyuan.entity.RoomFormMap">
		select * from ly_room where id = #{id} 
	</select>
	
	<select id="getByRoomNum" resultType="com.lanyuan.entity.RoomFormMap">
		select * from ly_room where roomNum = #{roomNum} 
	</select>
	
	<insert id="addOrUpdateByRoomNum"  parameterType="com.lanyuan.entity.RoomFormMap">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
	    	select count(*) from ly_room where roomNum = #{roomNum} 
	  	</selectKey>
	  	<if test="count > 0">
	  		update ly_room set roomNum = #{roomNum} 
	  		<if test="beginDate!=null and beginDate!=''">
	  			,beginDate = #{beginDate}
	  		</if>
	  		<if test="roomRate!=null and roomRate!=''">
	  			,roomRate = #{roomRate}
	  		</if>
	  		<if test="returnableDeposit!=null and returnableDeposit!=''">
	  			,returnableDeposit = #{returnableDeposit}
	  		</if>
	  		<if test="waterRecord!=null and waterRecord!=''">
	  			,waterRecord = #{waterRecord}
	  		</if>
	  		<if test="electricRecord!=null and electricRecord!=''">
	  			,electricRecord = #{electricRecord}
	  		</if>
	  		<if test="networkRecord!=null and networkRecord!=''">
	  			,networkRecord = #{networkRecord}
	  		</if>
	  		<if test="contractPeriod!=null and contractPeriod!=''">
	  			,contractPeriod = #{contractPeriod}
	  		</if>
	  		<if test="description!=null and description!=''">
	  			,description = #{description}
	  		</if>
	  		<if test="nextChargeDate!=null and nextChargeDate!=''">
	  			,nextChargeDate = #{nextChargeDate}
	  		</if>
	  		,updateTime = now() 
	  	</if>
	  
		<if test="count==0">
			insert into ly_room(roomNum, beginDate, roomRate, returnableDeposit, waterRecord, electricRecord,
			networkRecord, contractPeriod, description, nextChargeDate, createTime, updateTime, ly_user_id) values(
			#{roomNum}, #{beginDate}, #{roomRate}, #{returnableDeposit}, #{waterRecord}, #{electricRecord},
			#{networkRecord}, #{contractPeriod}, #{description}, #{nextChargeDate}, #{createTime}, #{updateTime}, #{ly_user_id}) 
		</if>
	</insert>
	
	<delete id="deleteByRoomNum">
		delete from ly_room where roomNum = #{roomNum} 
	</delete>
</mapper>